{% extends "base.html" %}
{% block bg %}
grey-bg
{% endblock %}

{% block content %}
<section>
	<a href="/">
	<button type="button" style="margin: 10px 30px;" class="btn btn-default">
		<span class="glyphicon glyphicon-home" aria-hidden="true"></span></button>
	</a>
</section>

<div class ="container white-bg" ng-controller = "allViewCtrl as allCtrl">
	<tabset >
		<tab heading="All Features">
			<div style="margin-top: 10px;">
				<div>
					<div class="row">
						<button style="margin: 30px 0;" type="button" ng-click="reloadCommits()" class="btn btn-success">Refresh</button>
					</div>
					<div class="row">
						<table id = "allCommits" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" dt-instance="dtInstance" class="table row-border table-hover table-striped">
							<thead>
								<tr>
									<th ng-repeat="col in columns">{[{col}]}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="commitment in commitments">
									<td >{[{ commitment.feature.name }]}</td>
									<td >{[{ commitment.feature.theme }]}</td>
									<td >{[{ commitment.name }]}</td>
									<td >{[{ commitment.team.name }]}</td>
									<td >{[{ commitment.status }]}</td>
									<td >{[{ commitment.done_definition }]}</td>
									<td >{[{ commitment.start }]}</td>
									<td >{[{ commitment.stop }]}</td>
									<td >{[{ commitment.notes }]}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div> 
		</tab>
	    <tab heading="Risks">
	    	<div style="margin-top: 10px;">
				<div>
					<div class="row">
						<button style="margin: 30px 0;" type="button" ng-click="reloadCommits()" class="btn btn-success">Refresh</button>
					</div>
					<div class="row">
						<table id = "riskTable" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" dt-instance="dtInstance1" class="table row-border table-hover table-striped">
							<thead>
								<tr>
									<th ng-repeat="col in columns">{[{col}]}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="commitment in commitments">
									<td >{[{ commitment.feature.name }]}</td>
									<td >{[{ commitment.feature.theme }]}</td>
									<td >{[{ commitment.name }]}</td>
									<td >{[{ commitment.team.name }]}</td>
									<td >{[{ commitment.status }]}</td>
									<td >{[{ commitment.done_definition }]}</td>
									<td >{[{ commitment.start }]}</td>
									<td >{[{ commitment.stop }]}</td>
									<td >{[{ commitment.notes }]}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div> 
	    </tab>
		<tab heading="Dependancies" >
			<div style="margin-top: 10px;">
				<div>
					<div class="row">
						<button style="margin: 30px 0;" type="button" ng-click="reloadCommits()" class="btn btn-success">Refresh</button>
					</div>
					<div class="row">
						<table id = "dependencyTable" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" dt-instance="dtInstance2" class="table row-border table-hover table-striped">
							<thead>
								<tr>
									<th ng-repeat="col in columns">{[{col}]}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="commitment in commitments">
									<td >{[{ commitment.feature.name }]}</td>
									<td >{[{ commitment.feature.theme }]}</td>
									<td >{[{ commitment.name }]}</td>
									<td >{[{ commitment.team.name }]}</td>
									<td >{[{ commitment.status }]}</td>
									<td >{[{ commitment.done_definition }]}</td>
									<td >{[{ commitment.start }]}</td>
									<td >{[{ commitment.stop }]}</td>
									<td >{[{ commitment.notes }]}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div> 
		</tab>
	    
	    
  	</tabset>


</div>



{% endblock %}
{% block script %}

{% endblock %}
