{% extends "base.html" %}
{% block bg %}
grey-bg
{% endblock %}

{% block content %}
<div style="margin-top: 60px;">
	<div class ="container white-bg" ng-controller = "allFeaturesCtrl as allCtrl">
		<div class="row">
			<button class = "btn btn-primary pull-right" style="margin: 30px 0;">Export</button>
		</div>



		<div class="row">
			<table id="allFeatures" class="col-lg-12 table table-border table-hover table-striped">
				<thead>
					<tr>
						<th ng-repeat="col in columns">{[{col}]}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="feature in features">
						<td >{[{ feature.name }]}</td>
						<td >
							<ul><li ng-repeat="commitment in feature.commitment_set">{[{commitment.name}]}</li></ul>
						</td>
						<td >
							<ul><li ng-repeat="team in feature.teams">{[{team.name}]}</li></ul>
						</td>

						<td >
							<ul><li ng-repeat="commitment in feature.commitment_set">{[{commitment.status}]}</li></ul>
						</td>
						<td >
							<ul><li ng-repeat="commitment in feature.commitment_set">{[{commitment.done_definition}]}</li></ul>
						</td>
						<td >
							<ul><li ng-repeat="commitment in feature.commitment_set">{[{commitment.start}]}</li></ul>
						</td>

						<td >
							<ul><li ng-repeat="commitment in feature.commitment_set">{[{commitment.stop}]}</li></ul>
						</td>
						<td >
							<ul><li ng-repeat="commitment in feature.commitment_set">{[{commitment.notes}]}</li></ul>
						</td>
					</tr>
				</tbody>


			</table>
		</div>

	</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
$(document).ready(function() {
    $('#allFeatures').DataTable();
} );
</script>
{% endblock %}
