{% extends "base.html" %}
{% load staticfiles %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block title %}
All Teams
{% endblock title %}

{% block content %}

<div class ="container white-bg" style="margin-top: 60px;" >
	<div class = "row">
		<tabset >
			<tab heading="All Commitments">
				<div style="margin-top: 30px;" ng-controller = "commitTabCtrl as commit">
					<div class="row">
						<table id = "allCommits" datatable="" dt-instance="dtInstance" dt-options="dtOptions" dt-columns="dtColumns" class="table row-border table-hover table-striped">
						</table>
					</div>
				</div>
			</tab>
		    <tab heading="Risks"  >
		    	<div style="margin-top: 30px;" ng-controller = "riskTabCtrl as risk">
					<div class="row">
						<table id = "allRisks" datatable="" dt-instance="dtInstance" dt-options="dtOptions" dt-columns="dtColumns" class="table row-border table-hover table-striped">
						</table>
					</div>
				</div>
		    </tab>
			<tab heading="Dependencies" >
				<div style="margin-top: 30px;" ng-controller = "dependencyTabCtrl as dependency">
					<div class="row">
						<table id = "allDependencies" datatable="" dt-instance="dtInstance" dt-options="dtOptions" dt-columns="dtColumns" class="table row-border table-hover table-striped">
						</table>
					</div>
				</div>
			</tab>
	  	</tabset>
	</div>

</div>



{% endblock %}
{% block script %}
<script type="text/javascript" src = "{% static "js/controllers/commitmentViewCtrl.js" %}"></script>
{% endblock %}
