{% extends "base.html" %}
{% load staticfiles %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block title %}
All Features
{% endblock title %}

{% block content %}
<div style="margin-top: 60px;">
	<div class="container" ng-controller="allFeaturesViewCtrl">
		<div class="row">
			<div class="header">
				<h1>All Features</h1>
			</div>
		</div>
		<div class="row">
			<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Feature</th>
						<th>JIRA/Clarity ID</th>
                        <th>Theme</th>
						<th>Teams</th>
                        <th>COMMIT</th>
                        <th>STRETCH</th>
						<th>N/A</th>
						<th>NO</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="feature in features" ng-click="toggleDetails(this, $event, feature)">
						<td>
							<a ng-if="feature.url" ng-href="{[{ feature.url }]}" target="_blank">{[{ feature.name }]}</a>
							<span ng-if="!feature.url">{[{ feature.name }]}</span>
						</td>
						<td>{[{ feature.clarity_or_jira_id }]}</td>
                        <td>{[{ feature.theme }]}</td>
						<td>{[{ getTeams(feature) }]}</td>
                        <td>{[{ getCommitTotal(feature.commitment_set) }]}</td>
                        <td>{[{ getStretchTotal(feature.commitment_set) }]}</td>
						<td>{[{ getNATotal(feature.commitment_set) }]}</td>
						<td>{[{ getNoTotal(feature.commitment_set) }]}</td>
						<td>
							<button type="button" class="btn btn-success" tooltip="Toggle Row Details" ng-disabled="!feature.commitment_set.length">
								<i class="glyphicon" ng-class="{'glyphicon-plus': !expanded, 'glyphicon-minus': expanded}"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src = "{% static "js/controllers/allFeaturesViewCtrl.js" %}"></script>
{% endblock script %}
