{% extends "base.html" %}
{% block bg %}
space-bg
{% endblock bg %}

{% block title %}
Home
{% endblock title %}

{% block content %}

<section class="jumbotron" ng-controller="homeCtrl as home">
	<h1><span class="saturnFont">PSI Planning Tool</span></h1>
	<div class="col-sm-offset-4 col-sm-4">
		<button type="button" class="btn btn-default btn-lg" ng-click="hideInput=false">Show Me My Team</button>
		<a href="{% url 'all_teams' %}" class="btn btn-default btn-lg">I want to see ALL Commitments</a>
		<br>
		<div id="team-name-autocomplete" class="form-inline center-block" ng-hide="hideInput">
			<span angucomplete-alt id="team-name" type="text" placeholder="Team Name" input-class="form-control input-lg"
				title-field="name" selected-object="team" local-data="teams" search-fields="name" minlength="1"></span>
			<button type="button" class="btn btn-primary btn-lg" ng-click="goToTeam(team.title)">Go</button>
		</div>

	</div>
</section>

{% endblock %}
