{% extends "base.html" %}
{% load staticfiles %}
{% block bg %}
grey-bg
{% endblock %}

{% block content %}
<section>
	<a href="/">
	<button type="button" style="margin: 10px 30px;" class="btn btn-default">
		<span class="glyphicon glyphicon-home" aria-hidden="true"></span></button>
	</a>
</section>
<div style="margin-top: 60px;">
	<div class="container white-bg" ng-controller="teamViewCtrl as teamCtrl">
		<div class="row">
			<div>
				<h1 style="display: inline-block;">{{ team.name }} </h1>
				<button type="button" id="psi-capacity" ng-click="addTeamInfo()" class="btn btn-success"
				ng-class="{'btn-primary': isPSICapacitySet(), 'btn-danger': !isPSICapacitySet()}"
				tooltip="Add Team's PSI Capacity">
					<i class="glyphicon glyphicon-edit"></i>
				</button>
			</div>
			<div id = "teamId" style="display: none;" >{{team.id}}</div>
			<button type="button" style="margin: 30px 0;" ng-click="addCommitment()" class="btn btn-success">Add New Commitment</button>
		</div>
		<div class="row">
			<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table row-border table-hover table-striped">
				<thead>
					<tr>
						<th style="display: none;">JIRA/Clarity ID</th>
						<th ng-repeat="col in columns">{[{col}]}</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="commitment in teamObj.commitment_set">
						<td style="display: none;">{[{ commitment.feature.clarity_or_jira_id }]}</td>
						<td >{[{ commitment.name }]}</td>
						<td >{[{ commitment.feature.name }]}</td>
						<td >{[{ commitment.status }]}</td>
						<td >{[{ commitment.done_definition }]}</td>
						<td >{[{ commitment.start }]}</td>
						<td >{[{ commitment.stop }]}</td>
						<td >{[{ commitment.notes }]}</td>
						<td>
							<button type="button" ng-click="showRisks(commitment)" class="btn btn-default"
							tooltip="Show Risks for This Commitment">
								Risks
								<span ng-if="commitment.risk_set.length > 0">({[{ commitment.risk_set.length }]})</span>
							</button>
						</td>
						<td>
							<button type="button" ng-click="showDependencies(commitment)" class="btn btn-default"
							tooltip="Show Dependencies for This Commitment">
								Dependencies
								<span ng-if="commitment.dependency_set.length > 0">({[{ commitment.dependency_set.length }]})</span>
							</button>
						</td>
						<td>
							<button type="button" ng-click="editCommitment('', commitment)" class="btn btn-warning"
							tooltip="Edit Commitment">
								<i class="glyphicon glyphicon-edit"></i>
							</button>
						</td>
						<td>
							<button type="button" ng-click="showConfirmationPrompt('', commitment)" class="btn btn-danger"
							tooltip="Delete Commitment">
								<i class="glyphicon glyphicon-trash"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript" src = "{% static "js/controllers/TeamInfoCtrl.js" %}"></script>
<script type="text/javascript" src = "{% static "js/controllers/RiskCtrl.js" %}"></script>
<script type="text/javascript" src = "{% static "js/controllers/DependencyCtrl.js" %}"></script>
<script language="JavaScript">
  window.onbeforeunload = confirmExit;
  function confirmExit()
  {
  	if (!psiCapacitySet){
		$("#psi-capacity").click();
  		return "You have not entered your team PSI information."
  	}
  }
</script>
{% endblock script %}
