.space-bg {
    background: url(https://novoolharblog.files.wordpress.com/2014/03/saturn.jpg) no-repeat center center fixed;
    height: 100%;
}

.white-bg {
    background: #FFF;
    padding: 70px 50px;
}

.saturnFont {
    color:#FFF;
    font-family: 'Orbitron', cursive;
    text-align: center;
}

section.jumbotron {
	margin-top:10em;
    text-align: center;
    height:400px;

}

.jumbotron {
    background: transparent;
}

.jumbotron h1, .jumbotron p, .jumbotron blockquote {
    color: #FFF;
}


#team-name-autocomplete {
    margin: 40px;
}

#team-name-autocomplete button {
    padding: 10px 40px;
}

.angucomplete-holder {
    display: inline;
}

.angucomplete-title {
    padding: 10px;
}

#team-name_dropdown {
    margin: 0 auto;
    width: 245px;
    background: #FFF;
}
