.map-bg {
    background: url(/static/bg_world_map.png) no-repeat center top fixed;
    height: 100%;
}

.home-buttons {
    margin-top: 20px;
}

#team-btn {
    margin: 0 10px;
}

.jumbotron {
    background: transparent;
    margin-top: 10em;
    text-align: center;
    height: 400px;
}

.jumbotron h1, .navbar-brand, .navbar-nav li {
    font-family: 'Orbitron', cursive;
}

.jumbotron h1, .navbar-default .navbar-brand {
    color: #4E4E4E;
}

.navbar-default .navbar-brand {
    font-size: 24px;
    font-weight: 500;
}

.navbar-nav li {
    font-size: 18px;
}

#team-name-autocomplete {
    margin: 40px;
}

#team-name-autocomplete button {
    padding: 10px 40px;
}

.angucomplete-holder {
    display: inline;
}

.angucomplete-title {
    padding: 10px;
}

#team-name_dropdown {
    margin: 0 auto;
    width: 245px;
    background: #FFF;
}

.glyphicon.glyphicon-alert {
    font-size: 75px;
    color: #d9534f;
}


td.ng-binding {
    max-width: 10em;
    word-wrap: break-word;
}

#psi-capacity {
    margin: 10px 10px 25px 15px;
}

form span, .required {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.table-tools-group {
    margin-left: 30px;
}