.map-bg {
    background: url(/static/bg_world_map.png) no-repeat center top fixed;
    height: 100%;
}

.home-buttons {
    margin-top: 20px;
}

#team-btn {
    margin: 0 10px;
}

.jumbotron {
    background: transparent;
    margin-top: 10em;
    text-align: center;
    height: 400px;
}

.jumbotron h1, .navbar-brand, .navbar-nav li {
    font-family: 'Orbitron', cursive;
}

.jumbotron h1, .navbar-default .navbar-brand {
    color: #4E4E4E;
}

.navbar-default .navbar-brand {
    font-size: 24px;
    font-weight: 500;
}

.navbar-nav li {
    font-size: 18px;
}

#team-name-autocomplete {
    margin: 40px;
}

#team-name-autocomplete button {
    padding: 10px 40px;
}

.glyphicon.glyphicon-alert {
    font-size: 75px;
    color: #d9534f;
}

/* Fix for bug where Table Tools export button
doesn't get its height/width set because the table
is initialized inside a tab */
.DTTT_button_csv embed {
    width: 55px;
    height: 34px;
}

td {
    max-width: 10em;
    word-wrap: break-word;
}

div.slider {
    display: none;
}

.table .detail-table {
    background: #eee;
    margin-bottom: 0;
}

.detail-row {
    padding: 0 !important;
}
.detail-table >thead:first-child>tr:first-child>th {
    border-top: 2px solid #ddd !important;
}

.detail-table >tbody>tr:last-child>td {
    border-bottom: 2px solid #ddd !important;
}

#psi-capacity {
    margin: 10px 10px 25px 15px;
}

form span, .required {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.table-tools-group {
    margin-left: 30px;
}

.header h1, .header h3 {
    display: inline-block;
}

.header h3 {
    margin-top: 30px;
}

#team-status {
    font-size: 40px;
    cursor: default;
}

#team-status.bad {
    color: red;
}

#summary {
    text-align: center;
}

#summary h3 {
    display: inline-block;
    padding-right: 15px;
}

#summary span {
    font-size: 20px;
    font-weight: bold;
}

ul.team-plans {
    padding-left: 0px;
}

li.team-plan {
    list-style: none;
    margin-bottom: 30px;
}

.team-plan h2 .label {
    margin-left: 20px;
}
