<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <title>PSI Planning Tool - {% block title %}{% endblock title %}</title>

        <link rel="icon" type="image/png" href="{% static "favicon-32x32.png" %}" sizes="32x32">
        <link rel="icon" type="image/png" href="{% static "favicon-96x96.png" %}" sizes="96x96">
        <link rel="icon" type="image/png" href="{% static "favicon-16x16.png" %}" sizes="16x16">

        <link href="https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900" rel="stylesheet" type="text/css">

        <link rel="stylesheet" type="text/css" href="{% static "lib/bootstrap-3.3.5-dist/css/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "lib/datatables.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "lib/dataTables.tableTools.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "lib/plugins/bootstrap/datatables.bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "lib/angular-toastr.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/app.css" %}">

        <script type="text/javascript" src = "{% static "lib/jquery-2.1.4.min.js" %}"></script>
        <script type="text/javascript" src = "{% static "lib/bootstrap-3.3.5-dist/js/bootstrap.min.js" %}"></script>
        <script type="text/javascript" src = "{% static "lib/datatables.min.js" %}"></script>
		<script type="text/javascript" src = "{% static "lib/angular.min.js" %}"></script>
        <script type="text/javascript" src = "{% static "lib/angular-resource.min.js" %}"></script>
		<script type="text/javascript" src = "{% static "lib/angular-datatables.min.js" %}"></script>
        <script type="text/javascript" src = "{% static "lib/dataTables.tableTools.js" %}"></script>
        <script type="text/javascript" src = "{% static "lib/angular-datatables.tabletools.min.js" %}"></script>
        <script type="text/javascript" src = "{% static "lib/plugins/bootstrap/angular-datatables.bootstrap.min.js" %}"></script>
		<script type="text/javascript" src = "{% static "lib/ui-bootstrap-tpls-0.13.4.min.js" %}"></script>
        <script type="text/javascript" src = "{% static "lib/angular-toastr.min.js" %}"></script>
        <script type="text/javascript" src = "{% static "lib/angular-toastr.tpls.min.js" %}"></script>

		<script type="text/javascript" src = "{% static "js/app.js" %}"></script>
		<script type="text/javascript" src = "{% static "js/controllers/allViewCtrl.js" %}"></script>
        <script type="text/javascript" src = "{% static "js/controllers/teamViewCtrl.js" %}"></script>
        <script type="text/javascript" src = "{% static "js/controllers/searchCtrl.js" %}"></script>
        <script type="text/javascript" src = "{% static "js/services/services.js" %}"></script>

    </head>
    <body ng-app = "missionControlApp" class="{% block bg %}{% endblock bg %}">
        {% block nav %}
        {% endblock nav %}
        {% block content %}


        {% endblock content %}

        {% block script %}

        {% endblock script %}
    </body>
</html>
