<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">PSI Planning Tool</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/all">All Teams</a></li>
                
            </ul>
            <ul class="nav navbar-right">
                <li>
                    <p class="navbar-btn">
                        <a href="http://ecm.adtran.com/sw/art/default.aspx?RootFolder=%2Fsw%2Fart%2FShared%20Documents%2FPSIs%2FPSI-19%2FPSI%2019%20Final%20Plan%20Reviews&FolderCTID=0x012000D281304F3E757F47B90DB96FECE9C94D&View=%7b7E31D756-E09E-4E33-927E-7CE546ACF6B1%7d" class="btn btn-sm btn-danger">PANIC</a>
                    </p>
                </li>
            </ul>
            
            <!--
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>-->
        </div>
    </div>
</nav>
